body {
  background-color:rgb(0, 0, 0) ;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#navbarSupportedContent {
  margin-left: 350px;
  font-size: 27px;
}

#navbarSupportedContent #same {
  color: rgba(254, 185, 1, 1);
}

#navbarSupportedContent #same:hover {
    color: blue;
   
}

.navbar {
  position: sticky;
}

#sam {
  color:rgba(254, 185, 1, 1) ;
}

#sam:hover {
  color: blue;
}

#sa {
  color: rgba(254, 185, 1, 1);
}

#sa:hover {
  color: blue;
}

#footcolor {
  color: rgba(254, 185, 1, 1);
}

#footcolor:hover {
  color: blue;
}

#footcolor a:hover {
  color: rgba(254, 185, 1, 1);
}


    .section-title {
      color: orange;
      font-weight: bold;
      margin-bottom: 20px;
      text-align: center;
    }
    .badge-custom {
      background-color: #f8f9fa;
      color: #000;
      margin: 5px;
      padding: 10px 15px;
      border-radius: 25px;
      display: inline-flex;
      align-items: center;
    }
    .badge-custom img {
      height: 20px;
      margin-right: 8px;
    }

  
  #her h1{
     color: white;
  }

  #her h1 span  {
    color: rgb(255, 1, 79);
  }

.role {
  position: relative;
  height: 40px;
  overflow: hidden;
  margin-top: 10px;
  font-size: 1.5rem;
  color: rgb(240, 245, 243);
}

.role span {
  position: absolute;
  width: 100%;
  animation: changeText 5s infinite;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.role .text1 {
    animation-delay: 0s;
    font-size: 25px;
    font-weight: bold;
} 

.role .text2 {
  animation-delay: 2s;
  color: blue;
}

.role .text3 {
  animation-delay: 5s;
  color: blue;
  font-weight: bold;
}

@keyframes changeText {
  0% { opacity: 1; }
  49.9% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.image {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.image img {
  object-fit: cover;
  transition: 0.4s;
  display: block;
}

.image::after {
    position: absolute;
    color: rgba(26, 255, 0, 0.4);
    opacity: 0;
    transition: 0.3s ease;
}

.image :hover {
  box-shadow: 0 10px 20px rgb(255, 1, 79);
  transform: scale(1.03);
}

.image :hover ::after {
  opacity: 1;
}

.form-label {
  color: #fff;
  font-weight: bold;
}

.container .contact {
  background-color: rgb(18, 49, 49);
  border: 2px solid rgb(235, 172, 183);
  border-radius: 15px;

}